RewriteEngine on
RewriteCond $1 !^(index\.php|resources|pendidikan|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L,QSA,PT]
php_value max_input_vars 2000